.list-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
  }
  
  .activity-item {
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 30px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    font-size: large;
    line-height: 30px;
  }
  
  .activity-item:hover {
    background-color: #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  